.calculator {
   width: 462px;
   height: 370px;
   border: 1px solid black;
   border-radius: 2%;
   background-color: #151515;
   color: #E6E6E6; 
}
.screen {
    height: 50px;
    width: 440px;
    border: 1px solid black;
    margin: 10px;
    text-align: right;
    background-color:   #566573; 
    
}
.screen span {
    font-size: 1.5rem;
    margin-right: 10px;
    line-height: 2.5rem;
}
button {
    height: 50px;
    width: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #1C1C1C;
    color: #E6E6E6;
    font-size: 1.5rem;
    border: 0;
}
button:hover {
    background-color: #808b96;
}